@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styling for the custom scrollbar */
.scrollable::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
    background-color: #f5f5f5; /* Background color of the scrollbar track */
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: #808080; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Round the corners of the scrollbar thumb */
}

/* Hide the scrollbar by default */
.scrollable::-webkit-scrollbar {
    display: none;
}

/* Show scrollbar when the element is hovered over */
.scrollable:hover::-webkit-scrollbar {
    display: block;
}