@tailwind base;
@tailwind components;
@tailwind utilities;

.scroller::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    display: none;
}

.scroller:hover::-webkit-scrollbar {
    display: block;
}

.scroller::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 2.5px;
    display: none;
}

.scroller:hover::-webkit-scrollbar-thumb {
    display: block;
}
